<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Knitkraft</title>
    <meta name="description" content="Knitkraft HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icon/192x192.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="manifest" href="../__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="../assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            Services
        </div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="listview-title mt-1">
            <%= translation.FarmServices%>
        </div>
        <ul class="listview image-listview inset mb-2">
            <li>
                <a href="./Services/shearing-service.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.ShearingServices %>
                    </div>

                </a>
            </li>
            <li>
                <a href="./Services/breed-service2.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.SheepBreedingServices %>
                    </div>

                </a>
            </li>
            
            <li>
                <a href="./Services/fodder-nutrition-service.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.FodderNutritionServices %>
                    </div>

                </a>
            </li>
            <li>
                <a href="./Services/veterinary-service.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.VeterinaryServices %>
                    </div>

                </a>
            </li>

        </ul>

        <div class="listview-title">
            <%= translation.QualityServices %>
        </div>
        <ul class="listview image-listview inset mb-2">
            <li>
                <a href="./Services/wool-grading.html" class="item">
                    <div class="icon-box bg-info">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.WoolGrading %>
                    </div>
                </a>
            </li>
            <li>
                <a href="./Services/farm-equipment-suppliers.html" class="item">
                    <div class="icon-box bg-info">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.FarmEquipmentSuppliers %>
                    </div>
                </a>
            </li>
        </ul>
        <div class="listview-title">
            <%= translation.WarehouseServices %>
        </div>
        <ul class="listview image-listview inset mb-2">
            <li>
                <a href="./Services/warehouse-services.html" class="item">
                    <div class="icon-box bg-danger">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.WareHouseServices %>
                    </div>
                </a>
            </li>
            <!-- <li>
                <a href="../Pages/app-login.html" class="item">
                    <div class="icon-box bg-danger">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.WoolProcessingServices %>
                    </div>
                </a>
            </li> -->
        </ul>



        <div class="listview-title">
            <%= translation.TransportationServices %>
        </div>
        <ul class="listview image-listview inset mb-2">
            <li>
                <a href="../Services/transport-services" class="item">
                    <div class="icon-box bg-secondary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.TransportationServices %>
                    </div>
                </a>
            </li>
            <!-- <li>
                <a href="../Pages/app-blog-post.html" class="item">
                    <div class="icon-box bg-secondary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.EnvironmentalConsulting %>
                    </div>
                </a>
            </li> -->
        </ul>

        <div class="listview-title">
            <%= translation.FinancialServices %>
        </div>
        <ul class="listview image-listview inset mb-3">
            <li>
                <a href="./Services/insurance-service.html" class="item">
                    <div class="icon-box bg-success">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.InsuranceServices %>
                    </div>
                </a>
            </li>
            <li>
                <a href="app-contact.html" class="item">
                    <div class="icon-box bg-success">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <%= translation.FinancialAndLegalServices %> NOT
                    </div>
                </a>
            </li>
        </ul>


        <div class="listview-title">
            KnitKraft Customer Support
        </div>
        <ul class="listview image-listview inset mb-2">
            <li>
                <a href="./Services/bandu-support-service" class="item">
                    <div class="icon-box bg-danger">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        BANDU Support Service
                    </div>
                </a>
            </li>
        </ul>

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="../index.html" class="item ">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Overview</strong>
            </div>
        </a>
        <a href="../Woolkart" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>WoolKart</strong>
            </div>
        </a>
        <a href="../Learning" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>Learnings</strong>
            </div>
        </a>

        <a href="../Services" class="item active">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Services</strong>
            </div>
        </a>
        <a href="../Statistics" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Statistics</strong>
            </div>
        </a>
    </div>

    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="../assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>


</body>

</html>